<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO LIST2</title>

    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="box" id="heading">
        <h1>
            <%= listTitle %>
        </h1>
    </div>
    <div class="box">
        <% newLists.forEach(function(newList){ %>
            <div class="item">
                <input type="checkbox">
                <p><%= newList %></p>
            </div>
        <% }) %>  
            <form action="/" method="post">

                <input type="text" name="newItem" id="" placeholder="ADD LIST">
                <button name ="list" type="submit" value= <%= listTitle %>>🦆</button>
            </form>
    </div>
</body>
<footer>
    copyright Ayaaa.O
</footer>

</html>